### Problem Statements- Lists

In [ ]:
Mike given challenge to Smith to Print all the sublists from the given
list including empty list.

Input Format:
Input a list

Constraints:
1

Output Format:
Print all the sublists from the given list.

Sample Input:
0   1
10 20
Sample Output:
     [0:1]   [0:2]         [1:2]
[[], ['10'], ['10', '20'], ['20']] #slicing

In [3]:
lst=input().split()#10 20=>len(2)
res=[[]]
for i in range(len(lst)):#0-1       =>0    1
    for j in range(i+1,len(lst)+1):#0-2 =>0,1,2
        var=lst[i:j]  #[0:0] [0:1] [0:2]  
        res.append(var)#[1:0]  [1:1] [1:2]
print(res)

10 20
[[], ['10'], ['10', '20'], ['20']]

In [ ]:
A list of numbers will be given, the numbers 5 and 8 are present in the
(8 always comes after 5) problem.
Num1: Add all numbers which do not lie between 5 and 8
    (excluding 5 and 8)
Num2 : Numbers formed by concatenating all numbers from 5 and 8(including 
                                                                5 8)

Input : 3,2,6,5,1,4,8,9
Output : 5168
Num1 : 3+2+6+9=20
Num2 : ‘5’+’1’+’4’+’8’=5148
condition2 : 5148+20=5168

In [5]:
lst=list(map(int,input().split(',')))
ind5=lst.index(5)
ind8=lst.index(8)
num2=lst[ind5:ind8+1]
num1=[x for x in lst if x not in num2]#[3, 2, 6, 9]
var=''.join(str(x) for x in num2)#'5148' #[5,1,4,8]

print(sum(num1)+int(var))

3,2,6,5,1,4,8,9
5168

In [8]:
lst=['hi','hello']
print('#'.join(lst))

hi#hello

## Strings

### Max Digit character

In [ ]:
Take input from user in the given format(consist of name and code),
Find max digit from code which is less or equal to the length of string
and put that place char in final string if there is no any digit found 
which not satisfy the condition that simply put ‘X’.

Input : Abhishek : 34848, Mayur : 4739, Friends : 2949, Yeah : 9889 
Output : kueX
    
 Abhishek:=>len(8) =>  34848=>8=> k
 Mayur   :=>len(5) =>  4739 =>4=> u
 Friends :=>len(7) =>  2949 =>4=> e
  yeah   :=>len(4) =>  9889 =>no=>X

In [ ]:
simle:7553,live:885,long:3421

In [23]:
lst=input().split(',')
res=''
for i in lst:
    temp=i.split(':')
    name=temp[0]#'Abhishek'
    num=temp[1] #'34848'
    length=len(name) #8
    maxv=0
    #print(name,num,length)
    
    for dig in num:
        if int(dig)<=length:
            if maxv < int(dig):
                maxv=int(dig)
                
    if maxv==0:
        res+='X'
    else:
        res+=name[maxv-1]
        
print(res)

Abhishek:34848,Mayur:4739,Friends:2949,Yeah:9889
kueX

### Reverse a string

In [ ]:
Reverse a given string keeping its special character at the same place

Input : h@ello
Output : o@lleh

Input : a#b@c
Output : c#b@a

In [10]:
str1="s@ugan"
str1[::-1]

'nagu@s'

In [5]:
import re
var=input() # a#b@c
res=re.findall("[a-zA-Z]",var)
res.reverse()#['c','b','a']
for i in range(len(var)):#0 1 2 3 4 5
    if (ord(var[i])>=32 and ord(var[i])<=47 or
       ord(var[i])>=58 and ord(var[i])<=64 or
       ord(var[i])>=91 and ord(var[i])<=96 or
       ord(var[i])>=123 and ord(var[i])<=126):
        res.insert(i,var[i])
print(''.join(res))

h#ell$o
o#lle$h

In [ ]:
isalpha()

In [ ]:
ASCII
a-97 b-98...z
A-65 B-67

Special char:
32-47
58-64
91-96
123-126

In [2]:
ch='A'
print(ord(ch))

65

### Anagram

In [ ]:
Write a function to check whether two given strings are anagram of each 
other or not. An anagram of a string is another string that contains 
same characters, only the order of characters can be different.
For example, 
“abcd” and “dabc” are anagram of each other.

In [ ]:
madam
dad
mom
liril
malayalam
racecar

----------
abcd -------->dabc---->anagram
abcd--------->scdab--->not anagram
abcd--------->ascd------>not anagram

In [7]:
s1="hello"
s2="ollleh" #ehlllo

In [8]:
s1.isdigit()

False

In [9]:
s1=input()
s2=input()
print("Anagram")if sorted(s1)==sorted(s2) else print("Not Anagram")

abcd
dbca
Anagram

### Reverse word

In [ ]:
Write a program to reverse words in a given string
Example: Let the input string be “i like this program very much”.
The function should change the string to “much very program this like i”

Input : s = “getting good at coding needs a lot of practice”
Output : s = “practice of lot a needs coding at good getting”

In [10]:
var="getting good at coding needs a lot of practice"
var[::-1]

'ecitcarp fo tol a sdeen gnidoc ta doog gnitteg'

In [12]:
s=input().split()
print( *s[::-1])

getting good at coding needs a lot of practice
practice of lot a needs coding at good getting

### Longest even no

In [ ]:
Take a string as a input. Separate all the integers from it. 
Then take each integers only once and form the largest even number
possible. Print the largest possible even number. And if even number
can’t be made, then print -1.

Input : Qwert@821142 Output : 8412

Input : infytq73119755 Output : -1

In [ ]:
Qwert@821142
821142=>8 2 1 4 =>8412

In [ ]:
infytq73119755
73119755=> 7 3 1 9 5=>-1

In [26]:
import re
var=input()#Qwert@821142
res=re.findall('[0-9]',var)#821142
res=set(res)
lst=list(res)#optional #['8','2','1','4']
even=[ int(i) for i in lst if int(i)%2==0]#[8,4,2]
if len(even)==0:
    print("-1")
else:
    emin=str(min(even))#2
    lst.sort(reverse=True)#['8','4','2','1']
    lst.remove(emin)#['8','4','1']
    lst.append(emin)#['8','4','1','2']
    print(''.join(lst))
    #print(*lst)

Qwert@821142
8 4 1 2

## Dictionary comparision

In [ ]:
Input:
Enter no of elements:2
    
Enter first dict key:hi
Enter first dict value:123
Enter first dict key:xyz
Enter first dict value:788
Enter second dict key:hi
Enter second dict value:890
Enter second dict key:qwe
Enter second dict value:78
output:
1
Explanation:
{'hi': '123', 'xyz': '788'}
{'hi': '890', 'qwe': '78'}
{'xyz': '788'}

In [28]:
n=int(input("Enter no element:"))
d1={}
d2={}
for i in range(n):
    k=input("Enter first dict key:")
    v=input("Enter first dict value:")
    d1[k]=v
for i in range(n):
    k=input("Enter second dict key:")
    v=input("Enter second dict value:")
    d2[k]=v
    
res={key:d1[key] for key in d1 if key not in d2}
print(res)
print(len(res))

Enter no element:2
Enter first dict key:hi
Enter first dict value:123
Enter first dict key:hey
Enter first dict value:899
Enter second dict key:hi
Enter second dict value:567
Enter second dict key:hello
Enter second dict value:5667
{'hey': '899'}
1

### Integer extract

In [ ]:
Extract number from given string

Input : -jh787g6
Output : -7876

Input : -08g5gg
Output : -085

### Form odd or even no from string

In [ ]:
Take a string input containing alphabets, numbers and special
symbols (say 3$5&^*7264&). Then, I had to count the number of
special symbols. The above example has 5 special symbol which is
odd, so I had to print an odd number first followed by an even number. 
The output should only consist of digits.
Hint: The output should be 325674

### String roatation

In [ ]:
Input rhdt:246,ghftd:1246

Expl :here every string is associated with the number 
sep by : if sum of squares of digits is even then rotate the string 
by 1 if square of digits is odd then rotate the string left by 2 
position

2*2+4*4+6*6=56 which is even so rotate rhdt --->trhd

1*1+2*2+4*4+6*6=57 which is odd then rotate string by 2 at left “ghftd” 
op: ftdgh